<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Compass Starter by Ariona, Rian</title>

	<!-- Loading third party fonts -->
	<link rel="stylesheet" href="../css/style.css">
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="/www/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="site-content">
		<div class="site-header">
			<div class="container">
				<a href="/www/Views/Clima/index.html" class="branding">
					<img src="/www/Views/Clima/img/images/logo.png" alt="" class="logo">
					<div class="logo-type">
						<h1 class="site-title">ROTEX</h1>
						<small class="site-description">¡Siempre un paso adelante con nuestra app meteorológica!</small>
					</div>
				</a>

				<!-- Default snippet for navigation -->
				<div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i>Menu</button>
					<ul class="menu">
						<li class="menu-item"><a href="/www/Views/Clima/index.html">Home</a></li>
						<li class="menu-item current-menu-item"><a href="/www/Views/Clima/news.html">News</a></li>
					</ul> <!-- .menu -->
				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>

			</div>
		</div> <!-- .site-header -->

		<main class="main-content">
			<div class="container">
				<div class="breadcrumb">
					<a href="/www/Views/Clima/index.html">Home</a>
					<a href="/www/Views/Clima/news.html">News</a>
					<span>Mauricio Ortiz Mexico / 20.02.2024 09:36:00</span>
				</div>
			</div>

			<div class="fullwidth-block">
				<div class="container">
					<div class="row">
						<div class="content col-md-8">
							<div class="post single">
								<h2 class="entry-title">El frente frío 38 se mantendrá sobre el norte y noreste del territorio</h2>
								<div class="featured-image"><img src="/www/Views/Clima/img/images/new1.jpg" alt=""></div>
								<p class="entry-content">
									<p>El frente frío 38 se mantendrá sobre el norte y noreste del territorio,
										ocasionando lluvias en al menos 16 estados, además, refrescará la temperatura en
										algunas regiones. Así será el clima para este jueves 29 de febrero.

										De acuerdo con el Servicio Meteorológico Nacional (SMN), se esperan
										precipitaciones sobre el norte, noreste, oriente y sureste del país.</p>

									<blockquote>
										<p>"La masa de aire frío asociada al frente, en combinación con la corriente en chorro subtropical, ocasionará un refrescamiento de las temperaturas" sobre varias zonas del país, detalló la dependencia mediante un comunicado.</p>
									</blockquote>
									<p>Bajará el calor en México
										El sistema frontal y su masa de aire frío asociada ocasionará descensos en la temperatura en el noroeste, norte, noreste y oriente del país. El clima más bajo se podrá registrar en:</p>
										<p>Temperaturas mínimas de -10 a -5 grados con heladas durante la madrugada del viernes: sierras de Chihuahua y Durango.</p>
										<p>Temperaturas mínimas de -5 a 0 grados con heladas durante la madrugada del viernes: sierras de Baja California, Sonora y Coahuila.</p>
										<p>Temperaturas mínimas de 0 a 5 grados durante la madrugada del viernes: zonas altas de Aguascalientes, Estado de México, Guanajuato, Hidalgo, Jalisco, Nuevo León, Oaxaca, Puebla, Tlaxcala, Veracruz y Zacatecas.</p>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main> <!-- .main-content -->

		<div class="horizontal-section">
			<div>
			   <span>© 2012 — 2024 OpenWeather ® All rights reserved</span><br><br>
			</div>
			<div class="social">
			   <a href="https://www.facebook.com/groups/270748973021342" target="_blank"><img
					 src="/www/Views/Clima/img/images/facebook.png" alt="facebook icon"></a>
			   <a href="https://twitter.com/OpenWeatherMap" target="_blank"><img
					 src="/www/Views/Clima/img/images/x.png" alt="x icon"></a>
			   <a href="https://www.linkedin.com/company/9816754" target="_blank"><img
					 src="/www/Views/Clima/img/images/in.png" alt="linkedin icon "></a>
			   <a href="https://t.me/openweathermap" target="_blank"><img
					 src="/www/Views/Clima/img/images/telegram.png" alt="telegram icon"></a>
			</div>
		 </div>
	</div>

	<script src="/www/Views/Clima/js/js/jquery-1.11.1.min.js"></script>
	<script src="/www/Views/Clima/js/js/plugins.js"></script>
	<script src="/www/Views/Clima/js/js/app.js"></script>

</body>

</html>